.env
*.db
*.sqlite*
.mt5bot_credentials.json
__pycache__/
*.pyc
*.log
*.backup
*.bak
*before_*

*_bak
*.bak
*.backup
*.current_backup
*.smc_strict_backup
*.pre_multi_trade_conversion
*.pretrade_bak
*.symbols_bak
*.spread_bak
*.active_bak
*.safety_bak
*.volume_bak

*.*_bak
*.current_backup
*.smc_strict_backup
*.pre_multi_trade_conversion
*.pretrade_bak
